.back__top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    margin-top: auto;
    padding: 10px 0;
}

.back__top-link {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.back__top-link:focus {
    color: lightblue;
}