.preview {
    width: 100%;
    padding: 20px 0;

    &__title {
        font-size: 20px;
        color: #ffffff;
        padding: 20px 0;
    }
    
    &__content {
        width: 100%;
        height: fit-content;
        &-item {
            width: 100%;
            min-height: 50vh;
            height: 100%;
            overflow: scroll;
        }
        
        &-item-none {
            width: 100%;
            min-height: unset;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ffffff;
            padding: 20px 0;
            font-size: 20px;
            color: #ffffff;
        }
    }
    
}

