.scraper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #757575;
}
.scraper__container {
    width: 90%;

}
.scraper__container-title {}
.scraper__container-title-text {
    font-size: 20px;
    color: #ffffff;
}
.scraper__container-input {
    padding: 20px 0;
}
.scraper__container-input-item {
    width: 100%;
    max-width: 400px;
    padding: 10px 0px;
}
.scraper__container-btn {
    padding: 20px 0;
}
.scraper__container-btn-item {
    padding: 10px;
    border: 1px solid #add8e6;
    border-radius: 4px;
}
.scraper__container-btn-item:hover,
.scraper__container-btn-item:active {
    background: #add8e6;
    border: 1px solid #000000;
}
.scraper__container-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scraper__container-data-none {
    height: 100%;
    width: 100%;
    min-width: 50vw;
    color: #ffffff;
    font-size: 36px;
    border: 1px solid #ffffff;
}

.scraper__container-data-item {
    min-height: 600px;
}

.scraper__container-data-none > .scraper__container-data-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
